version: '3'
services:

  test:
    container_name: supabase-db
    build:
        context: ..
        dockerfile: ./dockerfiles/Dockerfile
        args:
          PG_VERSION: ${SUPABASE_VERSION:-15.1.1.13}
    healthcheck:
      test: pg_isready -U postgres -h localhost
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - ../results:/home/splinter/results_out
    command:
      - bash
      - -c
      - "./bin/installcheck; cp /home/splinter/regression.diffs /home/splinter/regression.out /home/splinter/results/* /home/splinter/results_out/ 2>/dev/null || true"
