name: pre-commit hooks
on:
  pull_request:
  push: { branches: master }

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: set up python 3.12
      uses: actions/setup-python@v1
      with:
        python-version: 3.12

    - name: install pre-commit
      run: |
        python -m pip install --upgrade pip
        pip install pre-commit

    - name: run static analysis
      run: |
        pre-commit run --all-files
